[Unit]
Description=Infra Demo Python Health Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=infraadmin
Group=infraadmin
EnvironmentFile=/etc/infra-demo.env
WorkingDirectory=/opt/infra-demo
ExecStart=/usr/bin/python3 /opt/infra-demo/app.py
Restart=on-failure
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/var/log/infra-demo /var/lib/infra-demo
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
