[Unit]
Description=Run Infra Demo Maintenance Periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true
Unit=infra-maintenance.service

[Install]
WantedBy=timers.target
